/*  mobile-device */

@media (max-width: 768px) {

.mobile {
  display: block;
}

.icon-input, .div-download {
  display: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

.nav {
  background-color: white;
  .nav-logo {
    background: url('../img/logo.png');
    background-size: cover;
  }
  .inline-list {
    .list-item {
      color: $color-lighten;
    }
    .list-item:hover {
      color: $color-dark;
    }
    .active {
      color: $color-dark;
    }
  }
}

.wrapper-btn-download {
  display: block;
  .col-6 {
    width: 50%;
    margin-top: 10px;
    .btn-download {
      margin: 0;
      padding: 5px;
    }
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  .subtitle {
    margin-top: 8px;
  }
}

.divider {
  margin-bottom: 35px;
}

/* nav */

.nav {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-3 {
    width: 50%;
  }
  .col-9 {
    width: 50%;
    .inline-list {
      display: none;
    }
    .hamburger-menu {
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      width: 40px;
      height: 40px;
      padding-top: 6px;
      border: 1px solid $color-border;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      z-index: 10;
      .icon-bar {
        width: 24px;
        height: 2px;
        margin: 0 auto;
        margin-top: 5px;
        background-color: $color-light;
        -webkit-border-radius: 1px;
           -moz-border-radius: 1px;
                border-radius: 1px;
      }
    }
  }
  .hamburger-menu-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: white;
    overflow: hidden;
    z-index: 5;
    transition: 1s ease all;
    .inline-list {
      width: 100%;
      border-bottom: 1px solid $color-border;
      .list-item {
        width: 100%;
        padding: 23px 20px 22px 20px;
      }
      .list-item + .list-item {
        border-top: 1px solid $color-border;
      }
    }
  }
}

/* section-intro */

.section-intro {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 85px;
  .wrapper-header {
    .header {
      margin-top: 0;
    }
  }
}

.section-intro-stat {
  position: static;
  padding: 30px;
  height: 100%;
  background-color: $color-dark;
  .divider {
    width: 30px;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: $color-default;
  }
  .stat-data-caption {
    margin-top: 4px;
  }
}


/* section-howto */

.section-howto {
  .col-4 + .col-4 {
    margin-top: 40px;
  }
  .howto-img {
    width: 230px;
    height: 180px;
  }
  .howto-title {
    margin-top: 15px;
  }
  .howto-description {
    max-width: 270px;
    margin-top: 10px;
  }
}

/* section-merit */

.section-merit {
  .col-6 {
    width: 50%;
    text-align: left;
    .merit-img {
      width: 90px;
      height: 90px;
      margin-right: 40px;
    }
    .merit-title {
      margin-top: 12px;
    }
    .merit-description {
      max-width: 160px;
      margin: 0;
      margin-top: 6px;
    }
  }
  .col-6 + .col-6 {
    margin-left: -10px;
  }
  .col-3 + .col-3 {
    margin-top: 30px;
  }
}

/* section-aznone */

.section-azone {
  .box {
    display: none;
  }
}


/* section-press */
.section-press {
  padding-top: 0;
  .inner-section {
    .slide-container {
      .carousel-slide {
        .slide-header {
          width: 100%;
          height: 2.8em;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .slide-content {
          width: 90%;
          height: 4.8em;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .arrow {
    margin-top: 180px;
  }
  .arrow-prev {
    float: left;
    margin-left: 0px;
  }
  .arrow-next {
    float: right;
    margin-right: 0px;
  }
  .wrapper-pagenation {
    bottom: 40px;
  }
}

/* section-join */

.section-join {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  .wrapper-join {
    .join-title {
      margin-top: 0;
    }
  }
}

/* section-targeting */
.section-targeting {
  padding: 0;
  .col-6 {
    height: 170px;
    .targeting-title {
      margin-top: 60px;
    }
  }
  .wrapper-targeting-ad,
  .wrapper-targeting-printing {
    position: relative !important;
    margin: 0 auto;
  }
  .col-6+.col-6 {
    margin-top: -1px;
    border-top: 1px solid $color-border;
  }
}

/* footer */
.footer {
  height: 100%;
  padding-bottom: 40px;
  .col-4 {
    width: 33.33333333333333%;
  }
}
}
