@import 'reset';
@import 'grid';
@import 'color';
@import 'type';
@import 'elements/elements';

body {
  padding-top: 60px;
}

.divider {
  width: 40px;
  height: 4px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 55px;
  background-color: $color-border;
}

/* GNB */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $color-primary;
  z-index: 999;
  .nav-logo {
    margin-top: 20px;
  }
  .inline-list {
    float: right;
    .list-item {
      float: left;
      font-family: 'font-regular';
      font-size: 14px;
      padding: 22px 0px 23px 45px;
      color: $color-lighten;
      transition: .15s all ease;
    }
    .list-item:hover {
      color: $color-light;
    }
    .active {
      font-family: 'font-bold';
      color: $color-dark;
    }
  }
}

/* Section Default */
.section {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 110px;
  .subtitle {
    margin-top: 12px;
  }
}

/* section-intro */
.section-intro {
  height: 630px;
  padding: 0;
  background: url('../img/section-intro-bg.png') center 0 no-repeat;
  .header {
    margin-top: 190px;
  }
  .header-description {
    margin-top: 10px;
    font-family: 'font-regular';
  }
  .icon-input {
    margin-top: 34px;
  }
}

.section-intro-stat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(39,43,56,.8);
  .stat-data {
    margin-top: 23px;
  }
  .stat-data-caption {
    margin-top: 6px;
  }
}

/* section-howto */
.section-howto {
  .col-4 {
    .howto-title {
      margin-top: 25px;
      color: $color-dark;
    }
    .howto-description {
      max-width: 310px;
      margin: 0 auto;
      margin-top: 16px;
    }
  }
}

/* section-merit */
.section-merit {
  height: 360px;
  padding: 0;
  background: url('../img/section-merit-bg.png') center 0 no-repeat;
  .wrapper-merit {
    margin-top: 85px;
    .merit-img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid $color-darken;
    }
    .merit-title {
      margin-top: 20px;
      color: white;
    }
    .merit-description {
      max-width: 180px;
      margin: 0 auto;
      margin-top: 12px;
    }
  }
}

/* section-azone */

.section-azone {
  .wrapper-map {
    position: relative;
    max-width: 830px;
    margin: 0 auto;
  }
}


/* section-press */

.section-press {
  height: 400px;
  padding: 0;
  background-color: $background-light;
  .press-box {
    width: 92%;
    height: 195px;
    margin: 0 auto;
    margin-top: 70px;
    transition: 0.15s ease all;
    .press-header {
      display: inline-block;
      margin-top: 44px;
      color: $color-dark;
    }
    .press-content {
      max-width: 510px;
      margin: 0 auto;
      margin-top: 15px;
    }
    .caption {
      display: inline-block;
      margin-top: 14px;
      font-family: 'font-bold';
    }
  }
  .press-box:hover {
    width: 100%;
    height: 215px;
    margin-top: 65px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
  }
}

















