@import 'reset';
@import 'grid';
@import 'color';
@import 'type';
@import 'elements/elements';

body {
  padding-top: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.divider {
  width: 40px;
  height: 4px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 55px;
  background-color: $color-border;
}

/* GNB */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $color-primary;
  z-index: 999;
  .nav-logo {
    margin-top: 22px;
  }
  .inline-list {
    float: right;
    .list-item {
      float: left;
      font-family: 'font-regular';
      font-size: 14px;
      padding: 22px 0px 23px 45px;
      color: $color-lighten;
      transition: .15s all ease;
    }
    .list-item:hover {
      color: $color-light;
    }
    .active {
      font-family: 'font-bold';
      color: $color-dark;
    }
    .active:hover {
      color: $color-dark;
    }
  }
}

/* Section Default */
.section {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 110px;
  .subtitle {
    margin-top: 12px;
  }
}

/* section-intro */
.section-intro {
  height: 630px;
  padding: 0;
  background: url('../img/section-intro-bg.png') center 0 no-repeat;
  .header {
    margin-top: 190px;
  }
  .header-description {
    margin-top: 10px;
    font-family: 'font-regular';
  }
  .icon-input {
    margin-top: 34px;
  }
}

.section-intro-stat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(39,43,56,.8);
  .stat-data {
    margin-top: 23px;
  }
  .stat-data-caption {
    margin-top: 6px;
  }
}

/* section-intro media */
@media (max-width: 768px) {
  .section-intro {

  }
}


/* section-howto */
.section-howto {
  .col-4 {
    .howto-title {
      margin-top: 25px;
      color: $color-dark;
    }
    .howto-description {
      max-width: 310px;
      margin: 0 auto;
      margin-top: 16px;
    }
  }
}

/* section-merit */
.section-merit {
  height: 360px;
  padding: 0;
  background: url('../img/section-merit-bg.png') center 0 no-repeat;
  .wrapper-merit {
    margin-top: 85px;
    .merit-img {
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    border: 1px solid $color-darken;
    }
    .merit-title {
      margin-top: 20px;
      color: white;
    }
    .merit-description {
      max-width: 180px;
      margin: 0 auto;
      margin-top: 12px;
    }
  }
}

/* section-azone */

.section-azone {
  .wrapper-map {
    position: relative;
    max-width: 780px;
    margin: 0 auto;
  }
}


/* section-press */

.section-press {
  height: 400px;
  padding: 0;
  background-color: $background-light;
  .inner-section {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    .slide-container {
      position: absolute;
      left: 0;
      width: 500%;
      .carousel-slide {
        float: left;
        width: calc(100%/5);
        margin-top: 52px;
        padding-bottom: 50px;
        border: 1px solid rgba(0,0,0,0);
        transition: 0.3s ease all;
          .slide-header {
            display: inline-block;
            margin-top: 44px;
            color: $color-dark;
          }
          .slide-content {
            max-width: 510px;
            margin: 0 auto;
            margin-top: 15px;
          }
          .caption {
            display: inline-block;
            margin-top: 14px;
            font-family: 'font-bold';
          }
      }
      .carousel-slide:hover {
      width: calc(100%/5);
      margin-top: 45px;
      padding-bottom: 50px;
      background-color: white;
      border: 1px solid $color-border;
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
         -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
              box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
      }
    }
  }
  .arrow {
    margin-top: 160px;
  }
  .arrow-prev {
    margin-left: 60px;
  }
  .arrow-next {
    margin-right: 60px;
  }
  .wrapper-pagenation {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    .dots {
      float: left;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      background-color: $color-border;
    }
    .active {
      background-color: $color-dark;
    }
  }
}

/* section-press media */
@media (max-width: 768px) {
  .section-press {
    .arrow-prev {
      margin-left: 0;
    }
    .arrow-next {
      margin-right: 0;
    }
    .wrapper-pagenation {
      bottom: 40px;
    }
  }
}


/* section-join */

.section-join {
  height: 400px;
  padding: 0;
  background: url('../img/section-join-bg.png') center 0 no-repeat;
  .join-title {
    display: inline-block;
    margin-top: 110px;
  }
  .join-description {
    max-width: 370px;
    margin: 0 auto;
    margin-top: 16px;
  }
  .icon-input {
    margin-top: 20px;
  }
}


/* section-targeting */
.section-targeting {
  padding: 0;
  .col-6 {
    height: 240px;
    transition: 0.1s ease all;
    .targeting-title {
    display: inline-block;
    margin-top: 94px;
    color: $color-dark;
  }
  .targeting-description {
    margin-top: 10px;
    margin-left: 10px;
  }
  .targeting-arrow {
    color: $color-primary;
  }
  }
  .col-6:hover {
    border-bottom: 3px solid $color-primary;
  }
  .col-6+.col-6 {
    border-left: 1px solid $color-border;
  }
}

/* section-targeting media */
@media (max-width: 768px) {
  .section-targeting {
    .col-6+.col-6 {
      margin-top: -1px;
      border-top: 1px solid $color-border;
    }
  }
}


/* footer */
.footer {
  height: 200px;
  background-color: $color-darken;
  .footer-logo {
    margin-top: 40px;
  }
  .footer-content {
    margin-top: 16px;
  }
  .footer-list-title {
    margin-top: 40px;
  }
  .footer-list {
    margin-top: 16px;
    .list-item {
      font-family: 'font-light';
      font-size: 12px;
      line-height: 1.8em;
    }
  }
}

/* footer media */
@media (max-width: 768px) {
  .footer {
    height: 100%;
    padding-bottom: 40px;
    .col-4 {
      width: 33.33333333333333%;
    }
  }
}









