.icon-input-phone {
  display: inline-block;
  width: 420px;
  height: 60px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: white;
  .icon-phone {
    border-right: 1px solid $color-border;
  }
  .input {
    width: 99.9%;
    height: 100%;
    margin-top: 19px;
    padding-left: 14px;
    font-size: 16px;
    border: 0;
    outline: none;
  }
}
